<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template-1</title>
    <!-- main css file -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Render all element normally -->
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- import google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- import font -awesome Libraries -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- start header -->
    <header>
      <div class="container">
        <!-- website logo -->
        <a href="#"
          ><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8okIE7BBBa28F-etAYvvrtItF-jyX-xnV2w&usqp=CAU"
            alt=""
        /></a>
        <div class="links">
          <span class="icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <ul>
            <li><a href="">link-1</a></li>
            <li><a href="">link-2</a></li>
            <li><a href="">link-3</a></li>
            <li><a href="">link-4</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- end of header -->

    <!-- start lading -->
    <div class="landing">
      <div class="intro-text">
        <h1>Hello there</h1>
        <p>we are leon -super creative & minimal agency web template</p>
      </div>
    </div>
    <!-- end landing -->
    <!-- start features section -->
    <div class="features">
      <div class="container">
        <div class="feat">
          <i class="fa-regular fa-lightbulb fa-3x"></i>
          <h3>tell us your idea</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            quis at rem corporis reiciendis cum, vel nemo voluptatem inventore.
            Autem ex soluta, nihil velit praesentium ratione voluptates est
            aperiam labore?
          </p>
        </div>
        <div class="feat">
          <i class="fa-solid fa-code fa-3x"></i>
          <h3>we will do all the work</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
            nostrum autem saepe officiis nemo alias magnam aperiam provident
            quasi, animi dolorum voluptate doloribus sunt eveniet fugiat nam non
            aspernatur repellat.
          </p>
        </div>
        <div class="feat">
          <i class="fa-solid fa-earth-africa fa-3x"></i>
          <h3>your product is worlwide</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            fuga suscipit animi non sapiente blanditiis, vero debitis nulla
            tempora possimus odio unde facere laboriosam numquam nisi libero
            ullam pariatur rerum.
          </p>
        </div>
      </div>
    </div>
    <!-- end of features section -->
    <!-- start services section -->
    <div class="services">
      <div class="container">
        <h2 class="special-heading">services</h2>
        <p>don't be busy be productive</p>
        <div class="services-content">
          <div class="col">
            <!-- strat service -->
            <div class="serv">
              <i class="fa-solid fa-keyboard fa-3x"></i>
              <div class="text">
                <h3>Graphic desing</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                  molestias placeat laudantium soluta voluptatum, illo explicabo
                  dolores. Laboriosam illo praesentium ad aut voluptate
                  molestiae, perspiciatis sunt, nesciunt omnis esse minima.
                </p>
              </div>
            </div>
            <!-- end service -->
            <!-- strat service -->
            <div class="serv">
              <i class="fa-solid fa-laptop-code fa-3x"></i>
              <div class="text">
                <h3>Graphic desing</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                  molestias placeat laudantium soluta voluptatum, illo explicabo
                  dolores. Laboriosam illo praesentium ad aut voluptate
                  molestiae, perspiciatis sunt, nesciunt omnis esse minima.
                </p>
              </div>
            </div>
            <!-- end service -->
          </div>
          <div class="col">
            <!-- strat service -->
            <div class="serv">
              <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
              <div class="text">
                <h3>Graphic desing</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                  molestias placeat laudantium soluta voluptatum, illo explicabo
                  dolores. Laboriosam illo praesentium ad aut voluptate
                  molestiae, perspiciatis sunt, nesciunt omnis esse minima.
                </p>
              </div>
            </div>
            <!-- end service -->
            <!-- strat service -->
            <div class="serv">
              <i class="fa-solid fa-sliders fa-3x"></i>
              <div class="text">
                <h3>Graphic desing</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                  molestias placeat laudantium soluta voluptatum, illo explicabo
                  dolores. Laboriosam illo praesentium ad aut voluptate
                  molestiae, perspiciatis sunt, nesciunt omnis esse minima.
                </p>
              </div>
            </div>
            <!-- end service -->
          </div>
          <div class="col">
            <div class="image image-column">
              <img
                src="https://images.unsplash.com/photo-1512500337885-1e1ac51e1e6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end services section -->
    <!-- start portfilio section -->
    <div class="portfolio">
      <div class="container">
        <h2 class="special-heading">portfolio</h2>
        <p>don't be busy be productive</p>
        <div class="portfolio-content">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
              alt=""
              srcset=""
            />
            <div class="info">
              <h3>Project here</h3>
              <p>
                Here's a quick summary of the projects we'll be covering in this
                article
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80"
              alt=""
              srcset=""
            />
            <div class="info">
              <h3>Project here</h3>
              <p>
                Here's a quick summary of the projects we'll be covering in this
                article
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1624696941338-934bf86c28b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt=""
              srcset=""
            />
            <div class="info">
              <h3>Project here</h3>
              <p>
                Here's a quick summary of the projects we'll be covering in this
                article
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end portfilio section -->

    <!-- start of about section  -->
    <div class="about">
      <div class="container">
        <h2 class="special-heading">about</h2>
        <p>less is more work</p>
        <div class="about-content">
          <div class="image">
            <img
              src="https://images.unsplash.com/photo-1642697283420-194938fcc339?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80"
              alt=""
              srcset=""
            />
          </div>
          <div class="info">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              nesciunt eligendi ex voluptate commodi quod magni quisquam
              similique sed cum veritatis nisi sunt consectetur nostrum fugiat
              amet labore, ut reprehenderit?
            </p>
            <hr />
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
              nostrum animi blanditiis neque quasi temporibus quisquam,
              consequuntur fugiat in nobis sunt? Eius nobis labore eaque
              reiciendis omnis porro voluptate qui?
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of about section  -->
    <!-- start of contact section  -->
    <div class="contact">
      <div class="container">
        <h2 class="special-heading">contact</h2>
        <p>we are born to create</p>
        <div class="contact-content">
          <h3>feel free to drop us a line at:</h3>
          <a href="mailto:moulshe@protonmail.com">moulshe@protonmail.com</a>
          <div>
            <p>find us on socail media</p>
            <div class="socail-media">
              <i class="fa-brands fa-dribbble fa-2x"></i>
              <i class="fa-brands fa-instagram fa-2x"></i>
              <i class="fa-brands fa-facebook fa-2x"></i>
              <i class="fa-brands fa-github fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of contact section  -->
    <footer>&copy;2020–2023, <span>Mennoun</span>. All Rights Reserved</footer>
  </body>
</html>
